Options -MultiViews
RewriteEngine On

RewriteBase /TenAsMarreDeTonWallpaper

# On gère les appels à l'aAPI
RewriteRule ^api/(.*)$ api.php?url=$1 [QSA,L]

# On raccourci le front
# RewriteCond %{REQUEST_URI} !www/index.html
# RewriteRule ^www/(.*)$ front/www/$1 [L]

# Pour les autres requetes, on renvoie sur index.php
# RewriteRule ^((?!api).)*$ index.php/$1 [END]