
.images_slide{
	margin-left: 8rem;
      display: flex; flex-flow: row nowrap;

      .image_frame{
          padding: .8rem;
          margin-right: 6rem;

          .image_frame_picture{
              background-size: cover;
          }
      }
  }

.slide-next-enter-active {
  animation: slideNextIn 1s;
}

.slide-next-leave-active {
  animation: slideNextOut 1s;
  position: absolute; left: 0;
}

@keyframes slideNextIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0%); }
}

@keyframes slideNextOut {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

.slide-prev-enter-active {
  animation: slidePrevIn 1s;
}

.slide-prev-leave-active {
  animation: slidePrevOut 1s;
  position: absolute; left: 0; top:2.5rem;
}

@keyframes slidePrevIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

@keyframes slidePrevOut {
  from { transform: translateX(0%); }
  to { transform: translateX(100%); }
}
