<default-layout class="question-page" :class="{'first-question': !hasQuestion || isFirstQuestion}">
    <mr-wallmatch-content class="question-content" v-if="hasQuestion">
        <p slot="mr-wallmatch-says">{{ question.text }}</p>
        <p slot="mr-wallmatch-says-deco" class="question-sign">?</p>
        <div class="question-quote-wrapper">
            <div class="question-quote">{{ question.quote }}</div>
            <div class="question-quote-author">{{ question.quoteAuthor }}</div>
        </div>
    </mr-wallmatch-content>
    <div class="top-infos" v-if="hasQuestion">
        <a href="#" class="prev-question-link" v-on:click="prevQuestion">Corriger</a>
        <div class="question-counter">Question n°<span class="question-number">{{ question.number }}</span></div>
    </div>
    <rainbow-answer class="answer-1" :class="{up: isRaised}" v-on:click="answerQuestion(0)" :style="answersStyles[0]">{{ answersList[0] }}</rainbow-answer>
    <rainbow-answer class="answer-2" :class="{up: isRaised}" v-on:click="answerQuestion(1)" :style="answersStyles[1]">{{ answersList[1] }}</rainbow-answer>
    <rainbow-answer class="answer-3" :class="{up: isRaised}" v-on:click="answerQuestion(2)" :style="answersStyles[2]">{{ answersList[2] }}</rainbow-answer>
    <rainbow-answer class="answer-4" :class="{up: isRaised}" v-on:click="answerQuestion(3)" :style="answersStyles[3]">{{ answersList[3] }}</rainbow-answer>
    <rainbow-answer class="answer-5" :class="{up: isRaised}" v-on:click="answerQuestion(4)" :style="answersStyles[4]">{{ answersList[4] }}</rainbow-answer>
</default-layout>