.dlwpp {
  display: flex;
  flex-flow: row wrap;
}
.dlwpp > * { outline: 1px solid red; }
.dlwpp-wpp-img { width:100%; }
.dlwpp-xfermer { flex: 1 100%; order:1; }
.dlwpp-prev    { flex: 1 auto; order:2; }
.dlwpp-side    { flex: 16 0px; order:3; }
.dlwpp-wpp     { flex: 42 0px; order:4; }
.dlwpp-next    { flex: 1 auto; order:5; }

/*
.dlwpp {
    width: 100%; height: 100%;
    background-color: rgba($color-grey-dark,$opacity-overlay);
}
.dlwpp * {
    color:$color-white;
}
.dlwpp-side, .dlwpp-wppimg {
    display: inline-block;
    height:100%;
}
.dlwpp-side {
    @include font-size-small();
    width:19%;
    padding:10px;
}
.dlwpp-wppimg {
    width:88%;
    height:100px;
    margin:10px;
}
.dlwpp-xfermer {
    @include typo-brandon-up-medium();
}
.dlwpp .abutton, .dlwpp input {
    @include typo-brandon-sc-light();
    font-variant: normal;
    padding:0;
    width:100%;
}
.dlwpp .abutton {
    text-align:center;
}
.dlwpp input {
    width:50%;
}


.dlwpp {
    display: flex;
    flex-flow: row wrap;
}
.dlwpp > * {
    flex: 1 100%;
}
.dlwpp-wppimg { flex: 2 0px; }
.dlwpp-leftarrow  { order: 1; }
.dlwpp-side       { order: 2; }
.dlwpp-wppimg     { order: 3; }
.dlwpp-rightarrow { order: 4; }
*/
