// Layout principal en Flex
.dlwpp {
  width: 100%; height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba($color-grey-dark,$opacity-overlay);
}
//.dlwpp > * { outline: 1px solid red; }
.dlwpp * {
    color:$color-white;
    box-shadow:none !important; // XXX A cause du box-shadow globalement mis pour les a:hover.
}
.dlwpp *:not(input) {
    outline:none !important;
}
.dlwpp-wpp-img { max-width:100%; max-height: 100%;}


.dlwpp-xfermer { flex: 1 100%; order:1; }
.dlwpp-prev    { flex: 0 auto; order:2; }
.dlwpp-side    { flex: 10 0px; order:3; }
.dlwpp-wpp     { flex: 52 0px; order:4; }
.dlwpp-next    { flex: 0 auto; order:5; }

@media screen and (max-width : $width-small) {

}


.dlwpp-prev, .dlwpp-next {
    display:flex;
    align-items: center;
    align-self: stretch;
}


// Décos
.dlwpp-dlicon {
    width:1em;
    /*float:left;*/
    margin:0 (4em / 24);
    margin-top:(4em / 24);
}
.dlwpp-sep {
    display:block;
    border-top:1px solid $color-white;
    width:100%;
    margin: 1em 0;
}

.dlwpp-arrow-l, .dlwpp-arrow-r {
    width:(50rem / 24); height:(50rem / 24);
    border-top: 2px solid $color-white;
    border-left:2px solid $color-white;
}
$dlwpp-arrow-pushmargin : (16rem / 24);
$dlwpp-arrow-pullmargin : (-10rem / 24);
.dlwpp-arrow-l {
    transform: rotate(-45deg);
    margin-left: $dlwpp-arrow-pushmargin;
    margin-right: $dlwpp-arrow-pullmargin;
}
.dlwpp-arrow-r {
    transform: rotate(135deg);
    margin-right: $dlwpp-arrow-pushmargin;
    margin-left: $dlwpp-arrow-pullmargin;
}

// Colors
// Déso pour les !important. J'ai pas trouvé d'alternatives pour le moment.
.dlwpp-c1, .dlwpp-c1 * { color:$color-dark-brown !important; }
.dlwpp-c2, .dlwpp-c2 *,
.dlwpp-c3, .dlwpp-c3 *,
.dlwpp-c4, .dlwpp-c4 *,
.dlwpp-c5:not(input), .dlwpp-c5 *:not(input) { color:$color-white !important; }
.dlwpp-c1 { background: $color-sunset-yellow !important; }
.dlwpp-c2 { background: $color-sunset-orange !important; }
.dlwpp-c3 { background: $color-sunset-red    !important; }
.dlwpp-c4 { background: $color-sunset-pink   !important; }
.dlwpp-c5 { background: $color-sunset-purple !important; }

// Misc
.dlwpp-abutton {
    display:flex !important;
    margin: (1rem / 4) 0;
}
.dlwpp-abutton img {
    align-self: flex-start;
}
.dlwpp-abutton-text {
    align-self: stretch;
    width:100%;
}
.dlwpp-side, .dlwpp-wpp {
    //max-height: calc(100vh - #{$header-main-height});
}
.dlwpp-wpp {
    text-align:center;
}
.dlwpp-wpp a {
    cursor:zoom-in;
}
.dlwpp-side, .dlwpp-wpp {
    padding: 0 1em;
}
.dlwpp-side {
    //@include font-size-small();
    line-height: 1.8em; // XXX HACK
    overflow: hidden;
}
.dlwpp-titre {
    margin: 0;
}
.dlwpp-xfermer {
    @include typo-brandon-up-light();
    //@include font-size-small();
    margin:1em;
}
.dlwpp-xfermer img {
    max-height: (1rem / 2);
    margin-right: (1rem / 4);
}
.dlwpp .abutton, .dlwpp input {
    @include typo-brandon-sc-light();
    //@include font-size-small();
    font-variant: normal;
    padding:0;
    width:100%;
}
.dlwpp .abutton {
    text-align:center;
}
.dlwpp-ipt-dlicon-a {
    width:20%;
}
.dlwpp-ipt-dlicon-wrapper {
    display: inline-block;
    width:100%;
}
.dlwpp form {
    display:flex;
    margin-bottom:1.4em;
    height:1.4em;
}
.dlwpp input[type='number'] {
    width:40%;
    height:100%;
    -moz-appearance:textfield;
    border-bottom: none !important;
    border-right:2px solid $color-dark-brown;
    padding-left: (1em / 2);
}
.dlwpp button {
    width:20%;
    height:100%;
    border:none !important;
    padding:0;
}
// http://stackoverflow.com/a/4298216
.dlwpp input::-webkit-outer-spin-button,
.dlwpp input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*
// http://stackoverflow.com/a/15378182
.dlwpp :-moz-placeholder { text-align: center; }
.dlwpp ::-moz-placeholder { text-align: center; }
.dlwpp :-ms-input-placeholder { text-align: center; }
.dlwpp ::-webkit-input-placeholder { text-align: center; }
*/
