<!--
X fermer
Résolutions :
Pegase
Jeandas la menace
____
Peinture numérique
2560x1540px
Taille originale
________
Votre définition :
fooxbar px
Votre format (16:9) :
3840x2160px
1600x900px
1366x768px
1280x720px
Encore d'autres
1024x768px
800x600px
Libre à vous :
Largeur Hauteur
-->
<div class="dlwpp">
    <div class="dlwpp-side">
        <a class="dlwpp-xfermer" v-on:click="fermer">X fermer</a>
        <h1 class="dlwpp-titre">Pégase</h1>
        Jeandas la menace<br>
        <span class="dlwpp-sep"></span>
        Peinture numérique<br>
        2560x1540 px<br>
        <a class="abutton">Taille originale</a><br>
        <span class="dlwpp-sep"></span>
        Votre définition :<br>
        <a class="abutton">FooxBar px</a><br>
        Votre format (16:9) :<br>
        <a class="abutton">3840x2160 px</a><br>
        <a class="abutton">1600x900 px</a><br>
        <a class="abutton">1366x768 px</a><br>
        <a class="abutton">1280x720 px</a><br>
        Encore d'autres<br>
        <a class="abutton">1024x768 px</a><br>
        <a class="abutton">800x600 px</a><br>
        Libre à vous :<br>
        <input type="number" placeholder="Largeur"></input>
        <input type="number" placeholder="Hauteur"></input>
    </div>
    <img class="dlwpp-wppimg" alt="foo"
         src="/TenAsMarreDeTonWallpaper/media/wallpapers/the_guardian_of_the_stars.png">
</div>
