<div class="home">
  <div class="header">
    <h1>Home component</h1>
    <nav>
      <ul>
        <li>
          <router-link :to="{ path: '/' }">
            Home
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'question'}">
            Question
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'background'}">
            Background
          </router-link>
        </li>
      </ul>
    </nav>
  </div>

  <router-view :list="list"></router-view>
</div>
