<mr-wallmatch-content class="presentation" :roll="randomInt">
    <p slot="mr-wallmatch-says">En aurais-tu marre de ton wallpaper ?</p>
    <p slot="mr-wallmatch-says">Entre, je vais t'aider à en trouver un autre.</p>
    <div class="presentation-find-wallpaper">
        <router-link :to="{name: 'findYourWallpaper'}" class="abutton">Trouvez-moi un wallpaper</router-link>
    </div>
    <div class="lined-up">
        <h2>Mr. Wallmatch, conservateur du Musée National du Wallpaper</h2>
        <p>&laquo;&nbsp;Je vais t'accompagner dans ta recherche du wallpaper parfait.&nbsp;&raquo;</p>
    </div>
    <div class="bottom-arrow-wrapper">
        <div class="bottom-arrow" v-on:click="scrollBottom"></div>
    </div>
</mr-wallmatch-content>
