.rainbow-answers{
    display: flex; flex-flow: row nowrap; align-items: stretch;
    width: 100%;
    background: rgba(0,0,0,0.5);
    margin-top: -$question-choices-height;
    position: relative; z-index: 50;
    &>*{
        flex: 0 0 20%;
        height: $question-choices-height;
        color: $color-background;
        @include typo-brandon-up-black();
        @include font-size-larger();
        display: flex; align-items: center; justify-content: center;
        box-shadow: 0 (8rem/24) rgba($color-background, 0.5) inset;

        &:nth-child(1){background: $color-sunset-purple;}
        &:nth-child(2){background: $color-sunset-pink;}
        &:nth-child(3){background: $color-sunset-red;}
        &:nth-child(4){background: $color-sunset-orange;}
        &:nth-child(5){background: $color-sunset-yellow;}
    }
}