*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex; align-items: center; justify-content: center;
}

.counter{
    display: flex; align-items: center; justify-content: center;
    width: 500px; height: 500px;
    background: url('Toast.jpg') center; background-size: contain;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 2px rgba(100, 60, 40, 0.8);
    font-size: 2rem;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive;
}
.counter::selection{
    background: none;
}

.counter.active{
    transition: font-size ease-out 1s, color ease-out 1s, text-shadow ease-out 1s;
    font-size: 14rem;
    color: rgba(60, 30, 10, 0.8);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}