<header class="header-main">
    <nav>
        <ul class="menu-left">
            <li><router-link :to="{name: 'home'}"><img class="site-logo" src="/TenAsMarreDeTonWallpaper/www/assets/img/logo.svg"><span class="site-title">WallMatch</span></router-link></li>
        </ul>
        <ul class="menu-right">
            <li v-for="(curlink, keylink) in links" :key="keylink">
                <a href="#" v-on:click.prevent="onClickHeaderLink(curlink)">{{curlink.text}}</a>
            </li>
            <li>
                <a href="#" v-on:click.prevent="onToggleSidebarButton">
                    <template v-if="bus.isUserLoggedIn">
                        <img class="user-avatar" alt="avatar" :src="bus.avatar">
                        <span>{{bus.userLoggedIn.pseudo}}</span>
                    </template>
                    <span v-else>Connexion</span>
                    <span class="login-arrow"></span>
                </a>
            </li>
        </ul>
    </nav>
    <rainbow-bar></rainbow-bar>
</header>
