<div class="header_main">
  <nav v-bind:class="active" v-on:click.prevent>
    <a href="#" class="home" v-on:click="makeActive('home')">
       <img src="http://placehold.it/32x32">
      WallMatch</a>
    <a href="#" class="projects" v-on:click="makeActive('projects')">Participer</a>
    <a href="#" class="services" v-on:click="makeActive('services')">Connexion</a>
       <img src="arrow.png">
       <script>
document.querySelector("#Bouton").onclick = function() { 
document.querySelector("#InscriptionConnexion").style.display=(window.getComputedStyle(document.querySelector('#InscriptionConnexion')).display=='none') ? "block" : "none"; 
}
</script> */
       <div class="line"></div>

  </nav>
  

  </html>