.results-page{
    @extend .question-page;

    .slider-wrapper{
        position: fixed; bottom: 0;
        width: 100%;
    }

    .dlwpp{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
    }
}