.mr-wallmatch-content{

    $left-part-width: 25%;

    display: flex; flex-wrap: row nowrap; align-items: stretch;
    width: 100%;

    .left-part{
        flex: 0 1 $left-part-width;
        min-width: 10rem;
        background: rgba(0,0,0,0.4);
        display: flex; flex-flow: row nowrap; align-items: flex-start; justify-content: center;
    }
    .right-part{
        flex: auto;
    }

    .mr-wallmatch-says{
        @include typo-brandon-sc-black();
        font-size: 2em;
        text-align: right;
    }
}