<section class="mr-wallmatch-content">
    <museum-background v-if="showBackground"></museum-background>
    <div class="left-part">
        <mr-wallmatch :roll="roll"></mr-wallmatch>
    </div>
    <div class="right-part">
        <div class="mr-wallmatch-says">
            <div class="mr-wallmatch-says-text">
                <slot name="mr-wallmatch-says"></slot>
            </div>
            <div class="mr-wallmatch-says-deco">
                <slot name="mr-wallmatch-says-deco"></slot>
            </div>
        </div>
        <slot><!--Voici un texte qui ne devrait pas s'afficher.--></slot>
    </div>
</section>