
/* Palette de couleurs --------------------------------------------------------------------- */

$color-white: #fff;
$color-grey-dark: #141414;
$color-grey-medium-dark: #1e1e1e;
$color-grey-medium: #282828;
$color-grey-medium-light: #6e6e6e;
$color-grey-light: #787878;

$color-sunset-purple: #3f264d;
$color-sunset-pink: #5d2747;
$color-sunset-red: #9f3647;
$color-sunset-orange: #db4648;
$color-sunset-yellow: #fb9553;

    /* aliases */

$color-foreground: $color-grey-dark;
$color-background: $color-white;

    /* legacy */

$color-dark-brown: #020202;
$color-dark-purple: #3f264d;
$color-light-purple: #5d2747;
$color-dark-red: #9f3647;
$color-light-red: #db4648;
$color-light-orange: #fb9553;

/* Typographie ----------------------------------------------------------------------------- */